# Godot 4+ specific ignores
.godot/

# Exports
bin
export_presets.cfg

# AsepriteWizard addon
addons/AsepriteWizard
.aseprite_wizard_history
*.ase.import
*.aseprite.import

# Android build
android/build/*
!android/build/AndroidManifest.xml

# Other
unimplemented